
<title>Сайтик</title>

<link rel="icon" href="../static/favicon.ico" type="image">
<header>
 <nav>
 <ul>
 <li>
 <a href="/static">Главная страница </a>
 </li>
 <li>
 <a href="about/">О сайте </a>
 </li>
 </ul>
 </nav>
</header>


<input type="text" list="text_editors">
	<datalist id="text_editors">
      <option value="1"></option>
      <option value="2"></option>
      <option value="3"></option>
      <option value="4"></option>
      <option value="5"></option>
      <option value="6"></option>
      <option value="7"></option>
      <option value="8"></option>
	</datalist>
	<p><mark>Тут выбрать можно↑<mark><p>

        <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web form</title>
</head>
<body>
    <form action="/url" method="GET">
        <label>
            Please enter your username
            <input type="text" name="username" minlength="3" maxlength="20" required>
        </label>
        <button type="submit">Submit</button>
    </form>
</body>
</html>




<h1>Заголовок!
<h2>А это чуть по меньше
<h3>А вот обзац
<h4>Абзацы отделяются друг от друга.
А текст без HTML-форматирования,
даже
если
он
разбит
по строкам
— слипнется в одну линию

<br>
Вот сейчас моё <b>сердце  расплавится,<br>Я почти
<i>итальянец
<ul>
    <li>Диван:, </li>
 <img src="https://cdn.icon-icons.com/icons2/38/PNG/512/Sofa_5519.png">
    <li>Чемодан:, </li>
    <img src="https://cdn.icon-icons.com/icons2/1603/PNG/512/luggage-work-office-suitcase-brief-case_108567.png">
 <li>Картина:, </li>
    <img src="https://cdn.icon-icons.com/icons2/92/PNG/256/image_picture_16580.png">
 <li>Корзина:, </li>
    <img src="https://cdn.icon-icons.com/icons2/1097/PNG/512/1485477104-basket_78591.png">

/ul>



        <p>
 <a href=""> - Перейти на верх
/p>
     <img src="https://cdn.discordapp.com/attachments/1142894846462394550/1144226165935050752/-1.png">
     <head>
 .
 <style>
 body {
 background: bisque;
 }
 /style>
/head>
Селекторы
Селектор — это «и











